:root {
  --clock-size: 480px;
  --marker-distance: calc(var(--clock-size) * 0.4325);
  --hand-thickness: calc(var(--clock-size) * 0.03);
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ededed;
}

.clock {
  background-color: white;
  width: var(--clock-size);
  height: var(--clock-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  box-shadow: -20px 48px 80px -4px rgb(114, 114, 114),
    -8px 12px 24px -4px rgba(118, 118, 118, 0.192),
    inset 0 0 0 calc(var(--clock-size) * 0.01) rgba(98, 72, 108, 0.5);
}

.hand {
  position: absolute;
  background-color: red;
  border-radius: 99px;
  transform-origin: bottom;
}

.hour-hand {
  width: var(--hand-thickness);
  height: calc(var(--clock-size) * 0.25);
  top: calc(var(--clock-size) * 0.25);
}

.minute-hand {
  width: calc(var(--hand-thickness) * 0.65);
  height: calc(var(--clock-size) * 0.35);
  top: calc(var(--clock-size) * 0.15);
}

.second-hand {
  width: calc(var(--hand-thickness) * 0.3);
  height: calc(var(--clock-size) * 0.4);
  top: calc(var(--clock-size) * 0.1);
  background-color: green;
  transform-origin: bottom;
}

.second-hand::before {
  position: absolute;
  content: "";
  background-color: green;
  width: calc(var(--hand-thickness) * 0.3);
  height: calc(var(--clock-size) * 0.1);
  top: calc(1 * var(--clock-size) * 0.375);
  border-radius: 99px;
  transform-origin: top;
}

.center-dot {
  width: calc(var(--clock-size) * 0.05);
  height: calc(var(--clock-size) * 0.05);
  background-color: cyan;
  border-radius: 50%;
  position: absolute;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.center-dot-orange {
  width: calc(var(--clock-size) * 0.03);
  height: calc(var(--clock-size) * 0.03);
  background-color: cyan;
  border-radius: 50%;
  position: absolute;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.clock::before {
  content: "";
  position: absolute;
  top: -20%;
  right: -20%;
  width: 150%;
  height: 150%;
  z-index: 1;

  background: radial-gradient(
    circle at top right,
    rgba(255, 255, 255, 0.4),
    rgba(25, 25, 25, 0.1) 75%
  );

  pointer-events: none;
}

.hour-markers,
.minute-markers {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour-marker,
.minute-marker {
  position: absolute;
  transform-origin: center;
}

.hour-marker {
  color: #fff;
  font-size: calc(var(--clock-size) * 0.04);
  transform: rotate(var(--rotation))
    translateY(calc(-1 * var(--marker-distance)));
}

.hour-marker span {
  display: block;
}

.minute-marker {
  width: calc(var(--clock-size) * 0.004);
  height: calc(var(--clock-size) * 0.0225);
  background-color: rgba(255,255,255,0.3);

  transform: rotate(var(--rotation))
    translateY(calc(-1 * var(--clock-size) * 0.4325));
}
