.firstcur,
.secondcur {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.firstcur {
  margin-bottom: 20px;
}

.curchooser {
  display: flex;
  height: 50px;
  justify-content: center;
  gap: 20px;
}

.curchooser .flag_usa,
.curchooser .flag_geo {
  height: 50px;
}

.flag_usa img,
.flag_geo img {
  height: 100%;
  width: 70px;
}

.name {
  height: 50px;
  display: flex;
  align-items: center;
}

input[type="text"],
.result {
  font-size: 30px;
  width: 100px;
}

.currency {
  width: 300px;
  background-color: #ebf2f7;
  padding: 20px;
  border-radius: 20px;
}

.result {
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.middle {
  position: relative;
  height: 5px;
}
.line {
  height: 1px;
  border: none;
  background-color: #e0e0e0;
}

.rect {
  height: 5px;
  width: 40px;
  background-color: #ebf2f7;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #0061a4;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

button i {
  color: white;
  transform: rotate(90deg);
}

button:active {
  background-color: #298ad0;
  border-radius: 50%;
}
